@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
    width: 1200px;
    height: 1400px;
    margin: 25px auto !important;
    font-family: 'Poppins', sans-serif;
    background-color: antiquewhite;
}


.navbar {
    width: 1200px;
    height: 50px;
    background-color: #5A827E;
    color: #FAFFCA;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.navbar ul {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}

.title li {
    padding-left: 10px;
}
.menu li{
    display: inline-block;
    padding: 0 10px 0 0;
}

.menu li a {
    color: #FAFFCA;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #B9D4AA;
    padding: 2px 3px;
    color: #3f6864;
    border-radius: 5px;
}
.atas2{
    width: 1200px;
    height: 450px;
    background-color: #B9D4AA;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.text-animasi {
    font-size: 48px;
    font-weight: 600;
    min-width: 280px;
    color: #f4ff95;
}

.text-animasi span {
    position: relative;
}

.text-animasi span::before {
    content: "Muhammad Asfa Devano";
    color: #3f6864;
    animation: words 20s infinite;
}

.text-animasi span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 80%;
    right: -8px;
    background-color: #B9D4AA;
    border-left: 2px solid #f4ff95;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

.tengah1 {
    width: 300px;
    height: 300px;
    background-color: #84AE92;
    float: left;
}
.tengah2 {
    width: 300px;
    height: 300px;
    background-color: #f6ffa7;
    float: left;
}
.tengah3 {
    width: 300px;
    height: 300px;
    background-color: #84AE92;
    float: left;
}

.tengah4 {
    width: 300px;
    height: 300px;
    background-color:  #f6ffa7;
    float: left;
}

.img img{
    width: 280px;
    height: 250px;
    margin: 25px 10px;
    object-fit: cover;
    border-radius: 5px;
}
.kanan {
    width: 1200px;
    height: 600px;
    background-color: #B9D4AA;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.kanan h1 {
    font-size: 40px;
    text-align: center;
    color: #f4ff95;
}
.bawah {
    width: 1200px;
    height: 40px;
    clear: both;
    background-color:  #5A827E;
    color: #FAFFCA;
}


@keyframes cursor {
    to{
        border-left: 2px solid #B9D4AA;

    }
}

@keyframes words {
    0%, 25% {
        content: "Muhammad Asfa Devano"
    }
    26%,51% {
        content: "a Footballer";
    }
    52%,76% {
        content: "a Programmer";
    }
    77%,100% {
        content: "a Web Developer";
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95% {
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85% {
        width: calc(100% + 8px);
    }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
